*, html, body {
    margin: 0vw;
    padding: 0vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

.fcontainer {
    display: flex;
    width: 10ovw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #793FDF;
    box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    padding: 0px; /* Add padding to the navbar */
    margin: 0 auto; /* Center the navbar */
    padding-top: 1;
}

.logo.font {
    color: rgb(32, 31, 31);
    align-items: center;
}

.navigation {
    display: flex;
    direction: row;
    list-style: none;
    color: black;
    justify-content: first baseline;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 9px;
}

.navigation li {
    padding-right: 15px;
    position: relative;
}

.logo img {
    width: 60%;
    padding-left: 15px;
}

.imgringtone img {
    width: 25px;
    height: 25px;
}

.imgprofile img {
    width: 25px;
    height: 25px;
}

ul li {
    position: relative;
}

.dropdown {
    width: 100%;
    background-color: #7091F5;
    position: absolute;
    z-index: 10;
    display: none;
    top: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0px;
}

.dropdown li {
    display: flex;
    padding: 10px;
}

ul li:hover ul.dropdown {
    display: block;
}

.container{
    position: relative;
    width: 10ovw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 60%;
    
}
  .title-text{
    top: 55px;
    left: 100px;
    color: #252d3a;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    width: 1030px;
  }

  .pemisah1{
    width: 100%;
    height: 1px;
    display: block;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: 10px;
  }

  .thn-akademik{
    top: 120px;
    left: 115px;
    color: #252d3a;;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .semester{
    top: 120px;
    left: 925px;
    color: #252d3a;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .pemisah2{
    top: 155px;
    left: 100px;
    width: 1030px;
    height: 1px;
    position: absolute;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12);
    background-color: #fff;
  }

  .tabel-jadwal{
    position: absolute;
    top: 175px;
    left: 100px;
    width: 1030px;
    background: rgb(255, 255, 255);
    text-align: center;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  }
  th{
    background: #793FDF;
    text-transform: uppercase;
    font-family: Ubisoft Sans;
  }
  th, td{
    padding: 12px 15px;
  }
  td{
    font-family: Ubisoft Sans;
  }
  tr:nth-child(odd){
    background-color: rgba(144, 144, 144, 0.1);
  }

  .dropdown-thn-akademik{
    width: 135px;
    position: absolute;
    top: 110px;
    left: 240px;
  }
  .dropdown-thn-akademik *{
    box-sizing: border-box;
  }

  .dropdown-semester{
    width: 110px;
    position: absolute;
    top: 110px;
    left: 1005px;
  }
  .dropdown-semester *{
    box-sizing: border-box;
  }

  .select{
    background: #793FDF;
    color: rgb(255, 255, 255);
    display: flex;
    height: 25px;
    font-family: Ubisoft Sans;
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
  }
  .select-clicked{
    border: 2px #26489a solid; 
    box-shadow: 0 0 0.8em #26489a;
  }
  .select:hover{
    background: #97FFF4;
  }
  .caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgb(255, 255, 255);
    transition: 0.3s;
  }
  .caret-rotate{
    transform: rotate(180deg);
  }
  .menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px rgba(255, 10, 10, 0.12) solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: rgba(255, 255, 255, 1);
    font-family: Ubisoft Sans;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }
  .menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .menu li:hover{
    background: #793FDF;
  }
  .active{
    background: #23242a;
  }
  .menu-open{
    display: block;
    opacity: 1;
  }

  .minimize{
  cursor: pointer;
  position: absolute;
  right: -35px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #000000;
  width: max-content;
  width: 35px;
  height: 33px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background-color: rgba(255,184,0,255);
}


@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    left: 150px;
    width: 730px;
    transition: 0.3s;
  }

  .title-text {
    left: 0;
    width: 100%;
    text-align: left;
  }

  .pemisah2{
    left: 0;
    width: 100%;
  }

  .thn-akademik{
    left: 20px;
  }

  .dropdown-thn-akademik{
    left: 145px;
  }

  .semester{
    left: 520px;
  }

  .dropdown-semester{
    left: 600px;
  }

  .tabel-jadwal{
    left: 0;
    width: 100%;
    top: 180px;
  }
}

@media (min-width: 1025px){
  .container{
    transition: 0.3s;
  }
}

.footer {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    background-color: #3F3F3F;
    justify-content: space-between;
}
.logo-ub {
    display: grid;
    place-items: center;

}

.logo-ub img {
    width: 60%;
    padding: 5%;
}

.logo-ub ul {
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}


.penjelasan-edutrack{
    padding-top: 0%;
    line-height: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    ine-height: normal;
}

.copyright {
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #292626;
    color: #ffffff;
    text-align: center; 
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}

.copyright img {
    width: 2%;
    padding: 4px;
}
.copyright ul {
    list-style-type: none;
}


.fixed-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #793FDF;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fixed-icon:hover {
    background-color: #000000;
}

.fixed-icon img{
    width: 50px;
    height: 50px;
}