*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  no-repeat;
  }
  
  .renjana h1{
    top: 115px;
    left: 0px;
    color: rgb(255, 255, 255);
    right: 0px;
    position: absolute;
    text-align: center;
    font-weight: bold;
  }
  
  .renjana p{
    top: 175px;
    left: 0px;
    color: rgb(255, 255, 255);
    right: 0px;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Ubisoft Sans;
    font-weight: 400;
  }
  
  .login{
    top: 217px;
    left: 0px;
    right: 0px;
    width: 500px;
    height: 400px;
    margin: auto;
    position: absolute;
    border: 1px solid rgba(217, 217, 217, 1);
    border-style: solid;
    border-radius: 25px;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
  }
  
  .login h2{
    top: 35px;
    left: 0px;
    color: rgb(255, 255, 255);
    right: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .input-box{
    position: relative;
    margin: auto;
    top: 110px;
    left: 0px;
    max-width: 400px;
    height: 40px;
    border-radius: 10px;
    background:rgb(243, 243, 243);
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .input-box input{
    width: 350px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
  }
  
  .input-box img{
    width: 20px;
    cursor: pointer;
  }
  
  .btn{
    position:relative;
    margin: auto;
    width: 400px;
    height: 40px;
    top: 110px;
    left: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    background:rgb(0, 47, 255);
    cursor: pointer;
    margin-top: 60px;
    color: rgb(255, 255, 255);
    transition: 0.4s ease;
    font-weight: bold;
  }
  
  .btn:hover{
    background: rgb(26, 0, 197);
    color:rgb(255, 255, 255);
  }

  .btn:active {
    background: rgb(4, 0, 116);
    color: rgb(255, 255, 255);
  }