*, html, body {
    margin: 0vw;
    padding: 0vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

.fcontainer {
    display: flex;
    width: 10ovw;
    height: 5vh;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #793FDF;
    box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    padding: 0px; /* Add padding to the navbar */
    margin: 0 auto; /* Center the navbar */
    padding-top: 1;
}

.logo.font {
    color: rgb(32, 31, 31);
    align-items: center;
}

.navigation {
    display: flex;
    direction: row;
    list-style: none;
    color: black;
    justify-content: first baseline;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 9px;
}

.navigation li {
    padding-right: 15px;
    position: relative;
}

.logo img {
    width: 60%;
    padding-left: 15px;
}

.imgringtone img {
    width: 25px;
    height: 25px;
}

.imgprofile img {
    width: 25px;
    height: 25px;
}

ul li {
    position: relative;
}

.dropdown {
    width: 100%;
    background-color: #7091F5;
    position: absolute;
    z-index: 10;
    display: none;
    top: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0px;
}

.dropdown li {
    display: flex;
    padding: 10px;
}

ul li:hover ul.dropdown {
    display: block;
}

.container{
    position: relative;
    width: 10ovw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 80%;
}

  .title-text{
    top: 55px;
    left: 100px;
    color: #252d3a;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    width: 1030px;
  }

  .pemisah{
    width: 100%;
    height: 1px;
    display: block;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: 10px;
  }

  .pas-foto img {
    top: 140px;
    right: 100px; /* Mengubah right menjadi 100px untuk memindahkan ke sebelah kanan */
    width: 180px;
    height: 240px;
    position: absolute;
    background-color: #0e151d;
}

.data {
    top: 140px;
    left: 100px;
    width: 785px;
    height: 240px;
    position: absolute;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}
  .data-mhs{
    top: 15px;
    left: 40px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .cnt-data{
    top: 48px;
    left: 40px;
    color: rgba(37,45,58,255);
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .alamat{
    top: 432px;
    left: 100px;
    width: 1030px;
    height: 317px;
    position: absolute;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  }
  .alamat-mhs{
    top: 25px;
    left: 40px;
    color: rgba(37,45,58,255);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .cnt-alamat{
    top: 75px;
    left: 40px;
    color: rgba(37,45,58,255);
    width: 480px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Ubisoft Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  @media (max-width: 600px) {
    .container {
      left: 115px;
      width: 350px;
      transition: 0.3s;
    }
  
    .title-text {
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    .pas-foto img{
      top: 120px;
      left: 80px;
    }

    .data{
      top: 400px;
      left: 0;
      width: 100%;
      height: 300px;
      border-radius: 20px;
    }

    .cnt-data{
      width: auto;
      left: 10px;
    }

    .alamat{
      top: 725px;
      left: 0;
      width: 100%;
      height: 350px;
      border-radius: 20px;
    }
    
    .alamat-mhs{
      top: 15px;
    }

    .cnt-alamat{
      width: auto;
      left: 10px;
      top: 50px;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    .container {
      left: 150px;
      width: 730px;
      transition: 0.3s;
    }
  
    .title-text {
      left: 0;
      width: 100%;
      text-align: left;
    }
  
    .pas-foto img{
      top: 120px;
      left: 0;
    }

    .data{
      top: 120px;
      left: 230px;
      width: 500px;
      height: 242px;
    }

    .cnt-data{
      width: auto;
    }

    .alamat{
      top: 400px;
      left: 0;
      width: 100%;
      height: 300px;
    }
  
    .cnt-alamat{
      width: auto;
    }
  }

  @media (min-width: 1025px){
    .container{
      transition: 0.3s;
    }
  }

  .footer {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    background-color: #3F3F3F;
    justify-content: space-between;
}
.logo-ub {
    display: grid;
    place-items: center;

}

.logo-ub img {
    width: 60%;
    padding: 5%;
}

.logo-ub ul {
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}


.penjelasan-edutrack{
    padding-top: 0%;
    line-height: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    ine-height: normal;
}

.copyright {
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #292626;
    color: #ffffff;
    text-align: center; 
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}

.copyright img {
    width: 2%;
    padding: 4px;
}
.copyright ul {
    list-style-type: none;
}

.fixed-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #793FDF;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fixed-icon:hover {
    background-color: #000000;
}

.fixed-icon img{
    width: 50px;
    height: 50px;
}