*, html, body {
    margin: 0vw;
    padding: 0vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

.fcontainer {
    display: flex;
    width: 10ovw;
    height: 15vh;
    background-color: rgb(255, 255, 255);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #793FDF;
    box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    -webkit-box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px -1px 30px -4px rgba(0, 0, 0, 0.78);
    padding: 0px; /* Add padding to the navbar */
    margin: 0 auto; /* Center the navbar */
    padding-top: 1;
}

.logo.font {
    color: rgb(32, 31, 31);
    align-items: center;
}

.navigation {
    display: flex;
    direction: row;
    list-style: none;
    color: black;
    justify-content: first baseline;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 9px;
}

.navigation li {
    padding-right: 15px;
    position: relative;
}

.logo img {
    width: 60%;
    padding-left: 15px;
}

.imgringtone img {
    width: 25px;
    height: 25px;
}

.imgprofile img {
    width: 25px;
    height: 25px;
}

ul li {
    position: relative;
}

.dropdown {
    width: 100%;
    background-color: #7091F5;
    position: absolute;
    z-index: 10;
    display: none;
    top: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0px;
}

.dropdown li {
    display: flex;
    padding: 10px;
}

ul li:hover ul.dropdown {
    display: block;
}

.container{
    position: relative;
    width: 10ovw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 78%;
}
  
  
  .chatbox-wrapper {
    position: absolute;
    padding: 20px 20px;
    top: 70px;
    width: 1235px; 
    height: 600px; 
  }

.chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #793FDF;
	padding: .75rem 1.5rem;
  position: absolute;
  top: -50px;
  width: 1195px;
  border-radius: 25px 25px 0 0;
  font-family: Ubisoft Sans;
}
.chatbox-message-profile {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
}
.chatbox-message-image {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
}
.chatbox-message-name {
	font-size: 1.125rem;
	font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.chatbox-message-status {
	font-size: .875rem;
	color: rgba(255, 255, 255, 1);
}

.chatbox-message-content {
	background: #F5F5F5;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	grid-row-gap: 1rem;
	height: 535px;
	overflow-y: auto;
  font-family: Ubisoft Sans;
}
.chatbox-message-item {
	width: 90%;
	padding: 1rem;
}
.chatbox-message-item.sent {
	align-self: flex-end;
	background: #335DFF;
	color: #FFF;
	border-radius: .75rem 0 .75rem .75rem;
}
.chatbox-message-item.received {
	background: #FFF;
	border-radius: 0 .75rem .75rem .75rem;
	box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .05);
}
.chatbox-message-item-time {
	float: right;
	font-size: .75rem;
	margin-top: .5rem;
	display: inline-block;
}
.chatbox-message-bottom {
	background: #FFF;
	padding: .75rem 1.5rem;
  border-radius: 0 0 25px 25px;
}
.chatbox-message-form {
	display: flex;
	align-items: center;
  justify-content: space-between;
	background: #F5F5F5;
	border-radius: .5rem;
	padding: .5rem 1.25rem;
}
.chatbox-message-input {
	background: transparent;
	outline: none;
	border: none;
	resize: none;
	scrollbar-width: none;
  width: 100%;
  font-family: Ubisoft Sans;
  font-size: 16px;
}
.chatbox-message-input::-webkit-scrollbar {
	display: none;
}
.chatbox-message-submit {
	font-size: 1.25rem;
	color: #335DFF;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.chatbox-message-no-message {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
}

@media (max-width: 600px) {
  .container {
    left: 115px;
    width: 350px;
    transition: 0.3s;
  }

  .chatbox-message-header{
    width: 350px;
    left: 20px;
  }

  .chatbox-wrapper{
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    left: 150px;
    width: 730px;
    transition: 0.3s;
  }

  .chatbox-message-header{
    width: 690px;
    left: 20px;
  }

  .chatbox-wrapper{
    width: 100%;
  }
}

@media (min-width: 1025px){
  .container{
    transition: 0.3s;
  }
}


.footer {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    background-color: #3F3F3F;
    justify-content: space-between;
}
.logo-ub {
    display: grid;
    place-items: center;

}

.logo-ub img {
    width: 60%;
    padding: 5%;
}

.logo-ub ul {
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}


.penjelasan-edutrack{
    padding-top: 0%;
    line-height: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    ine-height: normal;
}

.copyright {
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #292626;
    color: #ffffff;
    text-align: center; 
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}

.copyright img {
    width: 2%;
    padding: 4px;
}
.copyright ul {
    list-style-type: none;
}

.fixed-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #793FDF;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fixed-icon:hover {
    background-color: #000000;
}

.fixed-icon img{
    width: 50px;
    height: 50px;
}